<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kanban Board - no login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">
    <%= image_tag('logo.svg', size: "30x30", alt: "Kanban Boards", class: 'd-inline-block') %>
    Kanban Boards
  </a>
  <span class="navbar-text float-xs-left mr-1">
          Four Demo Apps for Login: 
      </span>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link"
         href="https://kanban-1.herokuapp.com/">1: No Login
        <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         href="https://kanban-2.herokuapp.com/">2: has_secure_password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         href="https://kanban-3.herokuapp.com/">3: devise</a>
    </li>
    <li class="nav-item">
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    </li>
  </ul>
  <span class="navbar-text float-xs-right">
        No Login   
      </span>
</nav>
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-info mt-1"><strong><%= key %>:</strong> <%= value %></div>
  <% end %>

  <%= yield %>
</div>
<footer class="bd-footer text-muted">
  <div class="container">
    <p>This Demo App offers no Login. But a session-cookie <kbd><%=
      Rails.application.config.session_options[:key] %></kbd> is still created
      by rails and set for each visitor.</p>
    <p>You can find the source code in
      <a href="https://github.com/backend-development/rails-example-kanban-board-login/tree/master">the master
        branch</a> of
      <a href="https://github.com/backend-development/rails-example-kanban-board-login">the repository</a>.</p>
  </div>
</footer>
</body>
</html>
