<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kanban Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">
        <%= image_tag('logo.svg', size: "30x30", alt: "Kanban Boards", class: 'd-inline-block') %>
        Kanban Boards
      </a>
      <span class="navbar-text float-xs-right">
        Not Logged In   
      </span>
    </nav>    
    <div class="container">
      <% flash.each do |key, value| %>
          <div class="alert alert-info mt-1"><strong><%= key %>:</strong> <%= value %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
